* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #D8DBE2;
  margin: 6px;
}
h1 {
  position: relative;
  text-align: center;
  padding: 32px;
  background-color: #F5F6F7;
  color: #000000;
}
img {
  left: 50px;
  top: -0px;
  position: absolute;
}
h4 {
  text-align: center;
  background-color: #8E9CB2;
  color: #FFFFFF;
  padding: 3px;
  clear: both;
  margin: 0px 3px;
  font-size: 112%;
}
.wrap {
  border: solid black 2px;
  padding: 0px;
  background-color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 11pt;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.2;
}
.pnk {
  background-color: #CD214F;
  color: #FFFFFF;
}
p {
  padding: 6px 10px;
}
pre {
  color: #000000;
  background-color: #F5F6F7;
  padding: 8px;
  border: dotted 1px black;
  font-style: italic;
  margin: 5px 10px;
}
ul {
  padding: 0 30px;
}
li {
  padding: 4px 8px 4px 16px;
}
a {
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}
a:link, a:visited, a:active {
  color: #000000;
  background-color: #DCDFE6;
}
a:hover {
  background-color: #000000;
  color: #DCDFE6;
}
@media screen and (max-width: 599px) {
  img {
	display: none;
  }
}

