* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, serif;
  font-size: 1.3rem;
}
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eee;
  border-bottom: solid 1px #aaa;
  opacity1: 0.85;
  z-index: 2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar ul {
  float: right;
}
#navbar li {
  border-left: solid 1px #aaa;
}
li {
  float: left;
}
#navbar li:first-of-type {
  border-left: none;
}
#navbar a {
  display: block;
  padding: 10px 20px;
  color: #000;
  display: block;
}
#navbar a:hover {
  background-color: #444;
  color: #eee;
  text-shadow: 0px 1px 8px #3ff;
}
a {
  text-decoration: none;
}
.drop-btn {
  position: relative;
  display: inline-block;
}
.drop-con {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: #eee;
}
div.drop-con a {
  display: block;
}
.drop-btn:hover .drop-con {
  display: block;
}
div.wrap1 {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
section, figcaption {
  color: #eee;
}
#welcome-section, #projects, #contacts, #certs {
  padding-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#welcome-section {
  min-height: 100vh;
  background-color: #066;
}
#welcome-section a {
  color: #eee;
}
h1 {
  margin-bottom: 40px;
  font-size: 2.2em;
  text-shadow: 1px 1px 3px #111;
}
#welcome-section li {
  display: block;
  float: none;
  line-height: 1.5;
}
#projects {
  background-color: #057;
  min-height: 100vh;
}
#jscript {
  background-color: #046;
  padding-top: 50px;
  min-height: 100vh;
}
#certs {
  min-height: 100vh;
  background-color: #077;
}
#proj-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
figure {
  margin: 0;
}
figcaption {
  margin-bottom: 4px;
  padding: 0;
}
img {
  max-width: 100%;
}
.project-tile {
  border: solid 1px;
  width: 400px;
  height: auto;
  margin-bottom: 50px;
  background-color: #033;
  box-shadow: 0px 1px 8px #3ff;
  opacity: 0.7;
  max-width: 100%;

}
.project-tile, img {
  border-radius: 2px;
}
.project-tile:hover {
  opacity: 1;
  box-shadow: 0px 1px 19px #3ff;
}
#contacts {
  height: 96vh;
  background-color: #236;
}
#cont-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#profile-link {
  color: #aee;
  font-size: 1.5em;
}
#profile-link:hover{
  color: #aea;
  text-shadow: 0px 1px 8px #3ff;
}
footer {
  border-top: solid 3px #ccc;
  height: 4vh;
  background-color: #eee;
}
footer p {
  padding: 10px 10px;
  float: right;
  margin: 0;
}
footer a {
  display: inline;
}
@media (max-width: 799px) {
  body {
    font-size: 1rem;
  }
  #proj-cont {
  flex-direction: column;
  align-items: center;
  }
  #cont-list {
  flex-direction: column;
  align-items: center;
  }
  #navbar a {
    padding: 5px 5px;
  }
}
