  body {
  }
  #main {
    color: #222;
    background-color: #eee;
    font-size: 16px;
    font-family: sans-serif;
    margin: 30px 8px;
    text-align: center;
    padding: 15px;
    line-height: 1.5;
  }
  #title {
    font-size: ;
    
  }
  #img-div {
    max-width: 100%;
    background-color: white;
    padding: 1%;  
  }
  #image {
    max-width: 100%;
    height: auto;
    margin: o auto; 
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
  }
  #tribute-info {
    padding: 1% 20%;    
  }
  h4 {
    margin: 50px 0;    
  }
  ul {
    text-align: left;
    margin: 0 auto 50px auto;   
  }
  li {
    margin: 16px 0;    
  }
  #cite {
    text-align: left;
    font-style: italic; 
    margin-left: 14px;  
  }
