* {
  box-sizing: border-box;
}
/*
 * {
   border: 1px solid red;
   padding: 0;
   margin: 0;
 }
 */
 body {
   margin: 0;
   padding: 0;
 }
 nav {
   position: fixed;
   left: 0;
   width: 20%;
   top: 0;
   height: 100%;
 }
 h1 {
   text-align: center;
 }
 nav ul {
   padding: 0;
   position1: relative;
   overflow-y: scroll;
   height: 88.5%;

 }
 nav li {
   border-top: 1px solid;
 }
 nav ul a {
   padding: 20px 10px;
   display: block;
   font-weight: bold;
 }
 a {
   text-decoration: none;

 }
 p, a, li, table, h1, h4, h2 {
   color: #333;
 }
 h2 {
   padding: 30px 0;
 }
 table, th {
   border: 1px solid;
   border-collapse: collapse;
 }
 td {
   text-align1: center;
   padding: 0 10px;
   border-right: 1px solid;
 }
 th {
   border-bottom: 1px solid;
   padding: 5px 10px;
 }
 h4 {
   margin: 5px;
 }
 #navbar, #main-doc {
   font-family: arial, sans-serif; 
   line-height: 1.5;
 }
 #main-doc {
   margin-left: 22%;
   margin-right: 20px;
 }
 code {
   background-color: #ccc;
   display: block;
   width: 600px;
   max-width: 100%;
 }
 @media (max-width: 799px) {
   nav {
     width: 100%;
     position: static;
     left1: 0;
     overflow-y: scroll;
     max-height: 50vh;
   }
   nav ul {
     border: 1px solid;
   }
   nav li:first-of-type {
     border-top: none;
   }
   #main-doc {
     margin-left: 0;
     margin-right: 0;
     padding-left: 20px;
     padding-right: 20px;
   }
 }
