* {
  box-sizing: border-box;
}
body {
  text-align: center;
  color: #000;
  line-height: 1.5;
  font-size: 18px;
  font-family: arial, sans-serif;
  background-color: #f3f3f3;
  background-image: linear-gradient(45deg, #fff, #999);
  
}
header {
  text-shadow: 2px 1px 9px #fff;
}
#survey-form {
  max-width: 600px;
  text-align: left;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 30px 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0 5px 10px 0px #999;
}
div.singleform {
  margin-bottom: 25px;
}
select, input, button, textarea {
  font-size: 18px;
  padding: 5px;
  border: none;
  background-color: #fff;
}
label, p {
  margin-bottom: 5px;
  display: block;
}
input {
  margin-left: 0;
  margin-right: 8px;
  
}
input[type=radio], input[type=checkbox] {
  min-height: 16px;
  min-width: 16px;
}
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, select:focus, input:focus {
  background-color: #dff;
  border: none;
}
span {
  font-size: 15px;
}
#name, #email, #number, #dropdown, #comment, #submit {
  width: 100%;
}
textarea {
  min-height: 8em;
  resize: vertical;
}
#submit {
  background-color: #6f6;
  padding: 5px;
  border: none;
  
}
#submit:hover {
  background-color: #4f4;
  text-shadow: 2px 2px 9px #fff;
}

